<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micronet.dockingstatesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dock_launcher_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.micronet.dockingstatesample.DockStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_DOCK_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
